# development | preview | production
ENVIRONMENT=development
SESSION_SECRET=SESSION_SECRET

# 64 random hex characters
TOTP_SECRET=

# Leave blank if you want to simulate sending emails.
RESEND_API_KEY=
